<!DOCTYPE html>
<html lang="en">
<head>
<head>
    <link rel="stylesheet" href="styles.css">
</head>

<title>Page Title</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
/* Style the body */
body {
  font-family: Arial;
  margin: 0;
}

/* Header/Logo Title */
.header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}

/* Page Content */
.content {padding:20px;}
</style>
</head>
<body>

<div class="header">
  <h1>Welcome</h1>
  <p>FIT2095 HR System</p>
</div>

<a href="/newemployee">New Employee</a> <br>
<a href="/listemployees">List Employee</a>


</body>
</html>
